<html>

<head>

	<%- include ../partials/head %>

</head>

<body>

  <div class="fluid-container">

  	<div class="reveal">

        <div class="slides">

        <%- include ../pages/title-slide %>

        <%- include ../pages/slide01 %>

        <%- include ../pages/slide02 %>

        <%- include ../pages/slide03 %>

        <%- include ../pages/slide04 %>

        <%- include ../pages/slide05 %>

        <%- include ../pages/slide06 %>

        <%- include ../pages/slide07 %>

        <%- include ../pages/slide08-demo-dash %>

        <%- include ../pages/slide09 %>

        <%- include ../pages/slide10 %>

        <%- include ../pages/slide11 %>

        <%- include ../pages/slide12 %>

        <%- include ../pages/slide13 %>

        <%- include ../pages/slide14 %>

        <%- include ../pages/slide15 %>

        <%- include ../pages/slide16 %>

        <%- include ../pages/slide17 %>

      </div>

    </div>

  	<%- include ../partials/footer %>

  </div>

</body>

</html>