<section id="fixing-learning-with-modern-understanding">

	<section><%- include ../partials/slide5/_section-1 %></section>

	<section><%- include ../partials/slide5/_section-2 %></section>

	<section><%- include ../partials/slide5/_section-3 %></section>

	<section><%- include ../partials/slide5/_section-4 %></section>

	<section><%- include ../partials/slide5/_section-5 %></section>

</section>